/* order section start */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 700px;
}

.half_width {
    width: 40%;
    float: left;
    margin-left: 5%;
}

.order_content {
    margin-top: 150px;
}

.half_width h1 {
    font-size: 55px;
    font-weight: 600;
    color: black;
}

.half_width span {
    color: orange;
}

.half_width p {
    font-size: 20px;
    font-weight: 400;
    color: rgb(47, 44, 44);
    margin-bottom: 90px;
}

.button {
    text-decoration: none;
    background: linear-gradient(45deg, orange, tomato);
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    padding: 15px  30px;
}
/* order section end */

/* about section start */
.about_section {
    background: url(../images/about_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* height: 500px; */
}

.about_image img {
    width: 50%;
    margin-top: 40px;
    margin-left: 130px;
}

.half_width h2 {
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.about_content {
    margin-top: 55px;
}
/* about section end */